<div id='left'>
    <div id='top'>
        <h2 style='margin-top: 5px; margin-bottom: 15px;'>Instructions</h2>
        <!-- <p>The reason is that, if a bus gets delayed, more people than anticipated will be waiting at the next stop. The extra time they take to board will delay the bus even more, and so on.</p> -->
        <p>Click and hold a bar below to delay its respective bus. Note how even a short delay causes the buses to bunch together after a while.</p>
        <p>Hover over a stop to see its history. The area of the curve is cumulative wait time. Bunching makes the area grow.</p>
        <div layout='row' layout-align='space-between center' layout-margin='5'>
            <div flex class='button' ng-click='vm.World.paused ? vm.play() : vm.pause()'>{{vm.World.paused ? 'Play' : 'Pause'}}</div>
            <div flex class='button' ng-click='vm.reset()'>Reset</div>
        </div>
    </div>
    <div layout='column' id='bottom'>
        <row-der ng-repeat='bus in vm.Data.buses' bus=bus />
    </div>
    <div cum-chart ng-repeat='stop in vm.Data.stops' stop=stop ng-style='{left: stop.loc.left + 30, top: stop.loc.top- 50}' ng-class='{show: stop.show}'></div>
</div>
