body {
    font-family:'Arial', sans-serif;
    padding-bottom: 150px;
    padding-top: 5px;
    font-size: 15px;
}


div[vis-der]{
    width: 75%;
}

rect.bus-rect{
    fill: pink;
    opacity: .8;
}

rect.stop-rect{
    fill: steel-blue;
    opacity: .8;
}

circle.road{
    fill: none;
    stroke: #222;
    stroke-width: 20px;
}