@import "../bower_components/material-color/material-color";

@font-face {
	font-family: AmLight;
	src: url("font/AmbassadorPlusSans-Light.otf") format("opentype");
}
@font-face {
	font-family: AmThin;
	src: url("font/AmbassadorPlusSans-Thin.otf") format("opentype");
}

body {
    font-family:'PT Sans', sans-serif;
    padding-bottom: 150px;
    padding-top: 5px;
    font-size: 15px;
    background-color: @clr-grey-100;
}

div[cum-chart] {
  padding: 10px;
  position: absolute;
  border-radius: 2px;
  z-index: 5;
  box-shadow: .5px .5px 2px  rgba(0,0,0, 0.4);
  background-color: white;
  opacity: 0;
  transition: opacity ease-in-out .2s;
  pointer-events: none;
}

div[cum-chart].show{
  opacity: 1;
  transition: opacity ease-in-out .125s;
}

div.cum-chart{
  width: 150px;
  height: 85px;
}


div[map-der] svg{
  width: 100%;

}

cum-chart svg{
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #4EA198;
  color: white;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: AmLight;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

h1,h2,h3,h4{
    font-family: AmLight;
}

#content{
	width: 90%;
    margin-top: 70px;
    margin-left: 40px;
}

#toolbar{
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: #4EA198;
}

#left p{
    color: @clr-grey-600;
}

#why p{
    color: white;
    margin: 0px;
    margin-left: 15px;
}

text.bus-icon{
    font-family: 'FontAwesome';
    font-size: .8em;
    // fill: @clr-grey-600;
    text-anchor: middle;
    dominant-baseline: central;
}

text.bus-label{
  font-family: AmLight;
  font-size: 8px;
  text-anchor: middle;
  dominant-baseline: central;
}

// text.bus-icon

// STOP COLORING
.stop-1{
    fill: @clr-orange-500;
}

.stop-2{
    fill: @clr-light-blue-500;
}

.stop-3{
    fill: @clr-purple-500;
}

.stop-4{
    fill: @clr-pink-500;
}

line, path{
	pointer-events: none;
}

path.road{
    stroke-width: 50px;
    fill: none;
    stroke-linejoin: round;
    pointer-events: auto;
}

path.stripe{
    stroke: @clr-yellow-300;
    opacity: .6;
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 8, 8;
    stroke-linecap: round;
}

rect.bus {
    fill: white;
    cursor: pointer;
    filter: url(#f2);
}


circle.stop{
    fill: white;
    filter: url(#f1);
}

circle.pax{
    stroke: none;
}

.axis path, .axis line {
    fill: none;
    stroke: @clr-grey-300;
    shape-rendering: crispEdges;
}

.axis g.tick line {
    stroke-width: 1px;
    stroke-dasharray: 2, 2;
    stroke-linecap: round;
    opacity: .9;
}

rect.background{
    // fill: #fff;
    fill: none;
}

.axis g.tick:nth-last-child(2) {
    display: none;
}


.axis g.tick:first-child line{
    stroke-dasharray: none;
    stroke-width: 2px;
}

.axis path.domain {
    display: none;
}

path.cumulative-line{
  fill: none;
  stroke: @clr-pink-500;
  stroke-width: 1px;
}

path.cumulative-area{
  fill: @clr-pink-800;
  fill-opacity: 0.3;
  stroke: none;
}